<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>AQI and Weather Forecasting</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/static/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="/static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title"></h1>
							<small class="site-description"></small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							<!-- <li class="menu-item"><a href="/news">News</a></li>
							<li class="menu-item"><a href="/live-cameras">Live cameras</a></li> -->
							<li class="menu-item"><a href="/photos">Photos</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
							<li class="menu-item"><a href="/aqi">Air Quality Index</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="images/banner.png">
				<div class="container">
					<form action="/find-aqi-of-place" class="find-location" method="POST">
						<input type="text" name="autocomplete" id="autocomplete" placeholder="Find your location..." required>
						<input type="hidden" id="latitude" name="latitude" class="form-control">
						<input type="hidden" name="longitude" id="longitude" class="form-control">
						<input type="submit" value="Find">
					</form>
				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day"></div>
								<div class="date">{{ today['Day'] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">New Delhi</div>
								<div class="degree">
									<div class="num">{{ today['temp'] }}<sup>o</sup>C</div>
									<div class="forecast-icon">
										{% if today['temp'] > 24 and today['temp'] <36 %}
										<img src="/static/images/icons/icon-2.svg" alt="" width=90>
										{% endif %}
										{% if today['temp'] > 22 and today['temp'] <34 %}
										<img src="/static/images/icons/icon-2.svg" alt="" width=90>
										{% endif %}
										{% if today['temp'] > 20 and today['temp'] <30 %}
										<img src="/static/images/icons/icon-2.svg" alt="" width=90>
										{% endif %}
										{% if today['temp'] > 21 and today['temp'] <32 %}
										<img src="/static/images/icons/icon-2.svg" alt="" width=90>
										{% endif %}
										{% if today['temp'] > 24 and today['temp'] <34 %}
										<img src="/static/images/icons/icon-2.svg" alt="" width=90>
										{% endif %}
										{% if today['temp'] > 10 and today['temp'] <20 %}
										<img src="/static/images/icons/icon-7.svg" alt="" width=90>
										{% endif %}
										
									</div>	
								</div>
								
							</div>
						</div>

						
						{% for obj in weather.index %}
	
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">{{ weather['Day'][obj] }}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
								
										{% if today['temp'] > 12 and today['temp'] <13 %}
										RAIN<img src="/static/images/icons/icon-8.svg" alt="" width=50>
										{% endif %}
										{% if today['temp'] > 13 and today['temp'] <15 %}
										<img src="/static/images/icons/icon-7.svg" alt="" width=50>
										{% endif %}
										{% if today['temp'] > 15 and today['temp'] <17 %}
										<img src="/static/images/icons/icon-6.svg" alt="" width=50>
										{% endif %}
										{% if today['temp'] > 17 and today['temp'] <19 %}
										<img src="/static/images/icons/icon-5.svg" alt="" width=50>
										{% endif %}
										{% if today['temp'] > 19 and today['temp'] <21 %}
										<img src="/static/images/icons/icon-4.svg" alt="" width=50>
										{% endif %}
										
								</div>
								<div class="degree">{{ weather['temp'][obj] }}<sup>o</sup>C</div>
								
							</div>
							
						</div>
						{% endfor %}
					</div>
				</div>
				<div>
					<img src="/static/images/icons/icon-1.svg" alt="" width=48>
					<img src="/static/images/icons/icon-2.svg" alt="" width=48>
					<img src="/static/images/icons/icon-3.svg" alt="" width=48>
					<img src="/static/images/icons/icon-4.svg" alt="" width=48>
					<img src="/static/images/icons/icon-5.svg" alt="" width=48>
					<img src="/static/images/icons/icon-6.svg" alt="" width=48>
					<img src="/static/images/icons/icon-7.svg" alt="" width=48>
					<img src="/static/images/icons/icon-8.svg" alt="" width=48>
				</div>
				<div class="grid-item">
					<div id="graph_weather" class="chart"></div>
				</div>
			</div>
			</main> <!-- .main-content -->

			
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/app.js"></script>
		<script type="text/javascript"
       		 src="https://maps.google.com/maps/api/js?key=AIzaSyB5E2OoXZ5oFE7T8w8h71GOby7cCv06Qek&libraries=places" ></script>
		<script>
			$(document).ready(function () {
				$("#latitudeArea").addClass("d-none");
				$("#longtitudeArea").addClass("d-none");
			});
		</script>
		<script>
			google.maps.event.addDomListener(window, 'load', initialize);

			function initialize() {
				var input = document.getElementById('autocomplete');
				var autocomplete = new google.maps.places.Autocomplete(input);

				autocomplete.addListener('place_changed', function () {
					var place = autocomplete.getPlace();
					$('#latitude').val(place.geometry['location'].lat());
					$('#longitude').val(place.geometry['location'].lng());

					$("#latitudeArea").removeClass("d-none");
					$("#longtitudeArea").removeClass("d-none");
				});
			}
		</script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script type="text/javascript">
			var graph_weather = {{ graph_weather| safe}};
			Plotly.plot('graph_weather',graph_weather,{});    
		</script>
	</body>

</html>